<template>
  <div class="boards">
    <BoardsList />
  </div>
</template>

<script>
import BoardsList from '@/components/BoardsList.vue'

export default {
  name: 'Boards',
  components: {
    BoardsList
  }
}
</script>
