<template>
  <div class="board">
    board view
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'Board',
  methods: {
    ...mapActions('boards', [
      'getBoard'
    ])
  },
  async created () {
    await this.getBoard(this.$route.params.boardId)
  }
}
</script>
