<template>
  <div class="not-found">
    <i class="el-icon-question"></i>
    <h1>Ooops!</h1>
    <p>We couldn't find the page you're looking for.</p>
  </div>
</template>

<style lang="scss">
  .not-found {
    line-height: initial;
    i {
      font-size: 3rem;
    }
  }
</style>
