<template>
  <div class="boards-list">
    <h2>Boards</h2>
    <ul>
      <li v-for="board in boards" :key="board.id" class="board">
        <div @click="goToBoard(board.id)">{{board.name}}</div>
        <i class="el-icon-edit" @click="goToEditMode(board)"></i>
        <i class="el-icon-delete" @click="deleteBoard(board.id)"></i>
      </li>
      <li class="create-option">
        <div class="create-text">
          <BoardModal :actionTitle="'Create New Board'" />
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import BoardModal from '@/components/BoardModal'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'BoardsList',
  components: {
    BoardModal
  },
  data () {
    return {
      form: {
        name: ''
      }
    }
  },
  computed: {
    ...mapGetters('boards', [
      'boards'
    ])
  },
  methods: {
    ...mapActions('boards', [
      'getBoards',
      'deleteBoard'
    ]),
    goToEditMode (board) {
      board.editing = true
      this.$nextTick()
    },
    goToBoard (boardId) {
      this.$router.push({ name: 'board', params: { boardId: boardId } })
    }
  },
  async created () {
    this.getBoards()
  }
}
</script>

<style lang="scss">
  @import "../global.scss";

  .boards-list {
    line-height: initial;
    ul {
      list-style: none;
      width: 20rem;
      margin: 0 auto;
      padding: 0;
      .board {
        background: $bg-list-item;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5rem;
        div {
          flex: 1;
          text-align: left;
        }
        i {
          display: none;
        }
        &:hover {
          i {
            padding-left: .175rem;
            padding-right: .175rem;
            @include hvr-grow-rotate();
            &:hover, &:active, &:focus {
              @include hvr-grow-rotate-pseudo();
            }
          }
        }
      }
      .create-option {
        padding-top: 2rem;
      }
    }
  }
</style>
