<template>
  <div class="board-modal">
    <i class="el-icon-plus" @click="dialogFormVisible = true"></i>
    <div class="modal-action-title" @click="dialogFormVisible = true">{{actionTitle}}</div>

    <el-dialog title="New Board" :visible.sync="dialogFormVisible" append-to-body>
      <el-form :model="form">
        <el-form-item label="Board name" :label-width="formLabelWidth">
          <el-input v-model="form.name" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="resetComponentData">Cancel</el-button>
        <el-button type="primary" @click="addNewBoard(form)">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'BoardModal',
  props: [
    'actionTitle'
  ],
  data () {
    return {
      dialogFormVisible: false,
      form: {
        name: ''
      },
      formLabelWidth: '120px'
    }
  },
  methods: {
    resetComponentData () {
      Object.assign(this.$data, this.$options.data.apply(this))
    },
    addNewBoard (formData) {
      this.resetComponentData()
      this.createBoard(formData)
    },
    ...mapActions('boards', [
      'createBoard'
    ])
  }
}
</script>

<style lang="scss">
  @import "../global.scss";

  .modal-action-title {
    &:hover {
      cursor:pointer;
    }
  }

  .el-dialog__title {
    font-family: $font-family;
  }
  .el-form-item__label {
    font-family: $font-family;
  }

  .board-modal {
    @include hvr-icon-spin-container();
    @include hvr-icon-spin-bridge();
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      flex: 1;
      max-width: 2rem;
      @include hvr-icon-spin-bridge();
      &:hover, &:active, &:focus {
        @include hvr-icon-spin-pseudo(90);
        font-weight: bold;
      }
    }
  }
</style>
