<template>
  <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
    <el-menu-item index="1">
      <router-link to="/">
        <img src="../assets/logo.png" title="Finny logo" class="logo" />
      </router-link>
    </el-menu-item>
    <el-menu-item index="2">
      <router-link to="/boards">Boards</router-link>
    </el-menu-item>
    <el-menu-item index="3">
      <router-link to="/about">About</router-link>
    </el-menu-item>
    <div class="login-status-container">
      <el-dropdown v-if="loggedIn" trigger="click">
        <img v-bind:src="profile.picture"/>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item @click.native="logout">LOGOUT</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <div v-if="!loggedIn" class="login-text" @click="login">LOGIN</div>
    </div>
  </el-menu>
</template>

<script>
export default {
  name: 'Navigation',
  props: [
    'login',
    'logout',
    'loggedIn',
    'profile'
  ],
  data () {
    return {
      activeIndex: '1'
    }
  },
  methods: {
    handleSelect (key, keyPath) {
      console.log(key, keyPath)
    }
  }
}
</script>

<style lang="scss">
  .logo {
    width: 30px;
    height: 30px;
  }
  li.el-menu-item {
    padding: 0;
    margin: 0;
    a {
      height: 100%;
      display: block;
      width: auto;
      padding: 0 20px;
    }
  }
  .login-status-container {
    position: absolute;
    width: 5rem;
    right: 0;
    top: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    .el-dropdown {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        flex: 1;
        max-width: 2rem;
        max-height: 2rem;
        border-radius: 50%;
      }
    }
    .login-text {
      flex: 1;
    }
  }
</style>
